[Desktop Entry]
Name=cyberMoprius-aurorae
Comment=A window decoration to compliment the Ghost plasma theme
X-KDE-PluginInfo-Author=Moprius
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL_V3
